.bg-custom {
  background-image: linear-gradient(to right, #181834, #1f1f52);
}
.navbar .nav-item:hover .nav-link {
  background-color: white;
  color: #1f1f52;
  border-radius: 10px;
}

.nav-top {
  background-image: linear-gradient(to right, #181834, #1f1f52);

  width: 100%;
  height: 8px;
}

.text-primary{
    color: #1f1f52 !important;
}

.btn-primary {
    color: #fff;
    background-color: #1f1f52 !important;
    border-color: #181834 !important;
}

.btn-success{
    color: #fff;
    background-color: #181834 !important;
    border-color: #181834 !important;
}   

.text-reset {
    color: #223bc9 !important
}

.back-img {
  background: url("../image/Audi-Q3.jpg");
  height: 65vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}
.name-oto {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  -webkit-line-clamp: 2;
  height: 50px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.form-login-register {
  border-radius: 20px;
  background-color: white;
}

.item-card-car a {
  color: black;
  text-decoration: none;
}
.item-card-car a:hover {
  background: azure;
}


.form-login-register {
  border-radius: 20px;
  background-color: white;
}

/* toast */
#toast {
  min-width: 300px;
  position: fixed;
  bottom: 30px;
  left: 50%;
  margin-left: -125px;
  background: #333;
  padding: 10px;
  color: white;
  text-align: center;
  z-index: 1;
  font-size: 18px;
  visibility: hidden;
  box-shadow: 0px 0px 100px #000;
}

#toast.display {
  visibility: visible;
  animation: fadeIn 0.5, fadeOut 0.5s 2.5s;
}

@keyframes fadeIn {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}
@keyframes fadeOut {
  form {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

